<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ch.jtde.cellEditors" name="CellEditors" schema="schema/ch.jtde.celleditors.exsd"/>
   <extension-point id="ch.jtde.constraintAnalyzers" name="Constraintanalyzers" schema="schema/ch.jtde.constraintanalyzers.exsd"/>
   <extension-point id="ch.jtde.elements" name="Data Elements" schema="schema/ch.jtde.elements.exsd"/>
   <extension-point id="ch.jtde.elementActions" name="Element actions" schema="schema/ch.jtde.elementactions.exsd"/>
   <extension-point id="ch.jtde.xstream.converter" name="XStream Converter" schema="schema/ch.jtde.xstream.converter.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Java Test Data Editor"
            extensions="data"
            icon="icons/sample.gif"
            class="ch.jtde.internal.editors.DataEditor"
            id="ch.jtde.editors.DataEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Test Data"
            id="ch.jtde">
      </category>
      <wizard
            name="Java Test Data"
            icon="icons/sample.gif"
            category="ch.jtde"
            class="ch.jtde.internal.wizards.TestDataWizard"
            id="ch.jtde.wizards.TestDataWizard">
      </wizard>
   </extension>
   <extension
         point="ch.jtde.cellEditors">
      <editor
            editor="ch.jtde.internal.editors.PrimitiveTypeEditor"
            name="ch.jtde.internal.model.PrimitiveValue">
      </editor>
      <editor
            editor="ch.jtde.internal.editors.PrimitiveTypeEditor"
            name="ch.jtde.internal.model.WrapperTypeValue">
      </editor>
      <editor
            editor="ch.jtde.internal.editors.StringEditor"
            name="ch.jtde.internal.model.StringValue">
      </editor>
      <editor
            editor="ch.jtde.internal.editors.EnumEditor"
            name="ch.jtde.internal.model.EnumElement">
      </editor>
      <editor
            editor="ch.jtde.internal.editors.DateTypeEditor"
            name="ch.jtde.internal.model.DateValue">
      </editor>
      <editor
            editor="ch.jtde.internal.editors.StringBasedTypeEditor"
            name="ch.jtde.internal.model.StringBasedValue">
      </editor>
   </extension>
   <extension
         point="ch.jtde.elements">
      <element
            name="ch.jtde.internal.descriptors.BaseElementDescriptor">
      </element>
      <element
            name="ch.jtde.internal.descriptors.CollectionElementDescriptor">
      </element>
   </extension>
   <extension
         point="ch.jtde.elementActions">
      <supertype-action
            name="ch.jtde.internal.actions.CreateArrayElementAction"
            type="java.lang.Object">
      </supertype-action>
      <supertype-action
            name="ch.jtde.internal.actions.ResetAction"
            type="java.lang.Object">
      </supertype-action>
      <supertype-action
            name="ch.jtde.internal.actions.ReferenceAction"
            type="java.lang.Object">
      </supertype-action>
      <action
            name="ch.jtde.internal.actions.MapKeyAction"
            type="java.util.Map">
      </action>
      <supertype-action
            name="ch.jtde.internal.actions.RemoveCollectionElementAction"
            type="java.lang.Object">
      </supertype-action>
      <supertype-action
            name="ch.jtde.internal.actions.MoveUpAction"
            type="java.lang.Object">
      </supertype-action>
      <supertype-action
            name="ch.jtde.internal.actions.MoveDownAction"
            type="java.lang.Object">
      </supertype-action>
      <action
            name="ch.jtde.internal.actions.RemoveMapElementAction"
            type="java.util.Map">
      </action>
   </extension>
   <extension
         point="ch.jtde.xstream.converter">
      <converter
            name="ch.jtde.internal.xstream.converter.PrimitiveValueConverter">
      </converter>
      <converter
            name="ch.jtde.internal.xstream.converter.StringValueConverter">
      </converter>
      <converter
            name="ch.jtde.internal.xstream.converter.WrapperTypeValueConverter">
      </converter>
      <converter
            name="ch.jtde.internal.xstream.converter.DataElementConverter">
      </converter>
      <converter
            name="ch.jtde.internal.xstream.converter.IndexCollectionElementConverter">
      </converter>
      <converter
            name="ch.jtde.internal.xstream.converter.CollectionElementConverter">
      </converter>
      <converter
            name="ch.jtde.internal.xstream.converter.MapElementConverter">
      </converter>
      <converter
            name="ch.jtde.internal.xstream.converter.EnumValueConverter">
      </converter>
      <converter
            name="ch.jtde.internal.xstream.converter.DateValueConverter">
      </converter>
      <converter
            name="ch.jtde.internal.xstream.converter.StringBasedValueConverter">
      </converter>
   </extension>
</plugin>
